.rounded-corners (@radius: 8px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -khtml-border-radius: @radius;
}

#ctu {
	position: relative;
	top: 80px;
	img {
		margin: auto;
		display: block;
	}
	/*width: 80%;
	height: 80%;*/
}

.index-input {
	text-align: center;
	display: block;
	margin: 0 auto;
	#search-input {
		width: 400px;
	}
	input {
		.rounded-corners(0px);
	}
}

.ctu-text {
	font-size: 160%;
	position: relative;
	top: 80px;
	margin: auto;
	text-align: center;
}

#search-button {
	background:url(/static/graphics/index-sbutton-28px.png) no-repeat;
    cursor:pointer;
    border: 0;
    margin: 0;
    width:36px;
    height: 28px;
    position: relative;
    top: -1px;
}
