@selcolor: #DEEEDD;

.group-helper() {
  content:"";
  display:table;
}
.group { 
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */
  &:before {
    .group-helper;
  }
  &:after {
    .group-helper;
    clear: both;
  }
}

#results li {
	 padding-bottom: 1em; 
}

.res_link {
	font-size: 22px;
}

.res_link {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	display: block;
}

.res-link-pre {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 200px;
	display: block;
}

.viewers {
	color: black;
}
.res_user {
	color: black;
	font-weight: bold;
}

.view_count {
	font-weight: bold;
	color: #5fbf1b;
}

.embed-pre {
	margin: auto;
}

.preview {
	float: right;
}

#preview {
	.group;
	text-align: center;
	position: relative;
}

.pre-div {
	padding: 8px;
	position: fixed;
	width: 700px;
	max-height: 82%;
	overflow-y: hidden;
	z-index: 1;
	.group;
	background-color: @selcolor;
	border: 1px solid gray;
}

.pre-list {
	margin-bottom: 11px;
	padding-left: 9px;
	padding-top: 4px;
}

.res-list {
	margin-bottom: 16px;
}

.preview-res-text {
	text-align: left;
	width: 480px;
	clear: left;
	float: left;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.watch-btn {
	float: right;
	clear: right;
}

.selected {
	background-color: @selcolor;
	border: 1px solid gray;
}

#pagination {
	font-size: 18px;
	margin-bottom: 8px;
}

.pag-link {
	margin-right: 11px;
}

a.pag-link {
	color: gray;
	&:hover {
		color: #5fbf1b;
		text-decoration: underline;
	}
}

#cur-page {
	color: #cf0b00;
}