@primary_color: red;
@lf_font: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
@baseline: 1.5em;
/*
.box-shadow(@style, @c) {
  box-shadow:         @style @c;
  -webkit-box-shadow: @style @c;
  -moz-box-shadow:    @style @c;
}
*/

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: fliph; /*IE*/
}

.rounded-corners (@radius: 8px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -khtml-border-radius: @radius;
}

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: rgba(118,183,0,.8);
  @shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(118,183,0,.6);
  .box-shadow(@shadow);
}

div {
	margin: 0;
	padding: 0;
}
body {
	/* background-color: #C3FF68; */
}

h1 {
    color: @primary_color;
}

.clearfix {
	display: inline;
}

#leap {
	color: #02AAB0;
}
#frog{
	color: #7FFF24;
}

.center {
	margin: auto;
}

.one-edge-shadow(@col: gray) {
        -webkit-box-shadow: 0 1px 6px 1px @col;
           -moz-box-shadow: 0 1px 6px 1px @col;
                box-shadow: 0 1px 6px 1px @col;
}

#topbar {
	height: 60px;
	background:url(static/graphics/topbar-bg-60px.png) top repeat-x;
	.one-edge-shadow;
}

#t-search-input {
	display: inline-block;
	.rounded-corners(0px);
	width: 400px;
}

#t-search-button {
	display: inline-block;
	.rounded-corners(0px);
}

#t-form {
	
}

#t-search-button {
	background:url(/static/graphics/tb-sbutton-30px.png) no-repeat;
    cursor:pointer;
    border: 0;
    margin: 0;
    width: 53px;
    height: 30px;
    position: relative;
    top: -2px;
}

#t-input {
	float: right;
	display: inline-block;
	margin-top: 16px;
}
