{% extends "layout.html" %}
{% block header %}
<title>Leapfrog - The live stream search engine</title>
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='less/index.less') }}">
{% endblock %}
{% block body %}
    <!--<h1 id="index_logo"><span id="leap">Leap</span><span id="frog">frog</span><span id="leap">.tv</span></h1>-->
    <div id="ctu">
      <img src = {{ url_for('static', filename='graphics/lf-logo.png') }}></img>
      <br />
      <form action="/search">
        <div class="index-input">
          <input class="" id="search-input" name="s" type="text">
          <input type="submit" id="search-button" value="">
        </div>
      </form>
      <div class="ctu-text">Find the best live video content on the web</div>
    </div>
{% endblock %}
