<!doctype html>
<head>
<link rel="stylesheet/less" type="text/css" href="static/bootstrap/lib/bootstrap.less">
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='less/style.less') }}">
{% block header %}{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/less-1.1.5.min.js') }}"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-31071224-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
{% if not noTopBar %}
<div id="topbar">
  <div class="container">
    <a href="/" ><img src="{{ url_for('static', filename='graphics/topbar-logo-60px.png') }}" /></a>
    <div id="t-input">
      <form id="t-form" action="/search">
        <input class="" id="t-search-input" name="s" type="text" value="{{ squery }}">
        <input type="submit" id="t-search-button" value="">
      </form>
    </div>
  </div>
</div>
{% endif %}
<div class="container">
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
