{% extends "layout.html" %}
{% block header %}
  <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='multistream.less') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.js') }}"> </script>
  <script type="text/javascript" src="{{ url_for('static', filename='search.js') }}"> </script>

	<script type="text/javascript" language="javascript">
	function setSize (selector, x, y) {
    $('object', selector).attr('width',"" + x);
    $('object', selector).attr('height',"" + y);

    $('object embed', selector).attr('width',"" + x);
    $('object embed', selector).attr('height',"" + y);
  }

	function displayStreams(streams) {
		$("#main_stream").html(streams[0].embed);
		for (var i = 1; i < 5; i++) {
			if (streams[i]) $("#ms_" + i).html(streams[i].embed);
			setSize($("#ms_" + i), 192, 144);
		}
	}

  //handles what to do when an async search function has finished 
  function isDone(func, results) {
    if ("searchJT" == func) {
      if (results) jt_results = formatResults(results, 'justin');
      api_calls.jt = true;
    }
    else if ("searchUS" == func) {
      if (results) us_results = formatResults(results, 'ustream');
      api_calls.us = true
    }
    
    var done = true;
    for (key in api_calls) {
      if (!(api_calls[key])) {
        done = false;
      }
    }

    if (done) {
      var results = combine([start_results, jt_results, us_results])
      results.sort(viewersDesc);
      displayStreams(results);
    }
  }

  {% if squery %}
    {% if results %}
      var solr_results = eval({{ results|tojson|safe }});
    {% else %}
      var solr_results = new Array() 
    {% endif %}

    var search_query = "{{ squery }}"

      initSearch(isDone, solr_results);
      searchJT(search_query);
      searchUS(search_query);

  {% endif %}
  </script>
{% endblock %}

{% block body %}
<div  id="main_stream" class="span16">
</div>
<div class="row" id="mini_streams">
	<span id="ms_1" class="mini_stream span4">
	</span>
	<span id="ms_2" class="mini_stream span4">
	</span>
	<span id="ms_3" class="mini_stream span4">
	</span>
	<span id="ms_4" class="mini_stream span4">
	</span>
</div>
{% endblock %}