{% extends "layout.html" %}
{% block body %}
	<br />
  {% if vc %}
  	<div>{{ url }} is a proper url</div>
  	<div> 
  		View Count: {{ vc }} <br />
  		Channel Viewer: {{ cvc }}
  	</div>
  {% else %}
  	<div>{{ url }} is not a proper url</div>
  {% endif %}
{% endblock %}
