{% extends "layout.html" %}
{% block header %}
  <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='search.less') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.js') }}"> </script>

  <script type="text/javascript" language="javascript">
  var jt_results = new Array();
  var us_results = new Array();
  var disp_results = new Array();

  var api_calls = {"jt": false, "us": false};

  //sorting comparator functions
  function viewersAsc(a, b) {
    return parseInt(a.viewers) - parseInt(b.viewers);
  }
  //sorting comparator functions
  function viewersDesc(a, b) {
    return parseInt(b.viewers) - parseInt(a.viewers);
  }

  function setSize (x, y) {
    $('object').attr('width',"" + x);
    $('object').attr('height',"" + y);

    $('object embed').attr('width',"" + x);
    $('object embed').attr('height',"" + y);
}

  //combine the results of multiple search API queries
  function combine(result_array) {
    var ret_array = new Array();
    for (var i = 0; i < result_array.length; i++) {
      ret_array = ret_array.concat(result_array[i]);
    }
    return ret_array
  }

  function checkResults(id) {
    for (var i = 0; i < solr_results.length; i++) {
      if (id == solr_results[i].id) {
        solr_results.splice(i, 1);
        return true;
      }
    }
    return false;
  }

  //create result html string
  function createResultHtml(result, index) {
    //http://static-cdn.jtvnw.net/previews/live_user_ignproleague-150x113.jpg
    var r_string = '<li id="result'+ index +'"><div class="row"><span class="span3"><a class="res_link" href="'+ result.url +'"><img width=150 src="'+ result.pic +'" /></a></span><span class="res_text span12"><a class="res_link" href="'+ result.url +'">'+ result.title +'</a><span class="res_user">'+ result.username +'</span> -- <span class="viewers"><span class="view_count">'+ result.viewers +'</span> watching</span><a name="'+ index +'" href=# onClick="return false;" class="preview">Preview</a><br /><span class="description">'+ result.description +'</span><span></div></li>';

    return r_string;    
  }

  //display the results
  function displayResults(results) {
    var display = $('#results ul');
    for (var i = 0; i < results.length; i++) {
      display.append(createResultHtml(results[i], i));
    }
  }

  //convert results retrieved from apis into the proper format
  function formatResults(results, source) {
    var check;
    var r_array = new Array();
    if (source == 'justin') {
      for (var i = 0; i < results.length; i++) {
        checkResults("jt-" + results[i].id);
        r_array[i] = {
          id: "jt-" + results[i].id,
          userId: results[i].channel.id,
          username: results[i].channel.login,
          title: results[i].title,
          viewers: results[i].channel_count,
          url: results[i].channel.channel_url,
          description: results[i].channel.status + " obtained client side",
          source: "justin",
          pic: "http://static-cdn.jtvnw.net/previews/live_user_" + results[i].channel.login + "-150x113.jpg",
          embed: "" + results[i].channel.embed_code.replace("auto_play=false", "auto_play=true")
        };        
      }      
    }
    else if (source == 'ustream') {
      for (var i = 0; i < results.length; i++) {
        checkResults("us-" + results[i].id);
        r_array[i] = {
          id:           "us-" + results[i].id,
          userId:       results[i].userId,
          username:     results[i].userName,
          title:        results[i].title,
          viewers:      results[i].currentNumberOfViewers,
          url:          results[i].url,
          description:  results[i].description + " obtained client side",
          source:       "ustream",
          pic: "http://static-cdn1.ustream.tv/livethumb/1_"+ results[i].id +"_160x120_b.jpg",
          embed: "" + results[i].embedTag.replace("autoplay=false", "autoplay=true")
        };        
      }
    }
    return r_array;
  }

  //handles what to do when an async search function has finished 
  function isDone(func, results) {
    if ("searchJT" == func) {
      if (results) jt_results = formatResults(results, 'justin');
      api_calls.jt = true;
    }
    else if ("searchUS" == func) {
      if (results) us_results = formatResults(results, 'ustream');
      api_calls.us = true
    }
    
    var done = true;
    for (key in api_calls) {
      if (!(api_calls[key])) {
        done = false;
      }
    }

    if (done) {
      disp_results = combine([solr_results, jt_results, us_results])
      // for (var i = 0; i < new_results.length; i++) {
      //   $('body').append("results -- " + new_results[i].title + "<br />");
      // }
      disp_results.sort(viewersDesc);
      displayResults(disp_results);
    }
  }

  //search using JT's api
  function searchJT(query) {
    $.getJSON("http://api.justin.tv/api/stream/search/" + query + ".json?limit=25&jsonp=?",
      function(data) {
        // for (var i = 0; i < data.length; i++) {
        //   $('body').append("jtv -- " + data[i].title + "<br />");
        // }
        isDone("searchJT", data);
      }
    ).error(function() { isDone("searchJT", []); });
  }
  
  //search using US's api
  function searchUS(query) {
    /*
      http://api.ustream.tv/html/stream/recent/search/description:like:test?key=yourDevKey
      http://api.ustream.tv/html/stream/recent/search/title:like:test?key=yourDevKey
      http://api.ustream.tv/html/stream/recent/search/username:like:test?key=yourDevKey
    */
    $.getJSON("http://api.ustream.tv/json/stream/recent/search/title:like:"
              + query + "?key=yourDevKey&callback=?", 
      function (data) {
        if (data) var datalength = data.length;
        else var datalength = 0;
        // for (var i = 0; i < datalength; i++) {
        //   $('body').append("utv -- " + data[i].title + "<br />")
        // }
        isDone("searchUS", data);
      }
    );
  }

  {% if squery %}
    {% if results %}
      var solr_results = eval({{ results|tojson|safe }});
    {% else %}
      var solr_results = new Array() 
    {% endif %}

    var search_query = "{{ squery }}"


      searchJT(search_query);
      searchUS(search_query);

  {% endif %}
  var lol = 8;
  </script>

  <script type="text/javascript" language="javascript">
  //DOCUMENT READY ==============================================================
  var sizes = 0;
  $(document).ready(function() {
    /*
      var new_results = solr_results;
      new_results.sort(viewersDesc);
      displayResults(new_results);
    */
    $("#search_button").click(function() {
      //window.location.replace("/search?s=" + $("#search_input").val());
    });
    $(document).on("click", '.preview', function() {
      var p_id = $(this).attr('name');
      $(".res_text").removeClass('span12').addClass('span6');
      $("#results").removeClass('span16').addClass('span9');
      var p_embed = disp_results[p_id].embed;
      $("#preview").removeClass().addClass('span7').html(p_embed);
      sizes++;
      //(sizes*64, sizes*48);
    });
  });
  </script>
{% endblock %}

{% block body %}
  <form>
    <input type="text" class="xlarge" id="search_input" name="s">
    <input type="submit" id="search_button" value="Search">
  </form>

  <br>
  <div class="row">
    <span id="results" class="span16">
      <h2> Results: </h2>
      <ul class="unstyled">
      <!--
      {% if not results %}
        <li><em>No results</em></li>
      {% else %}
        {% for result in results %}
          <li>
            <h3><a href="{{ result['url'] }}">{{ result['title'] }}</a> - {{ result['username'] }}</h3>
            <span class="description">{{ result['description']|safe }}</span>
          </li>
        {% endfor %}
      {% endif %}
      -->
      </ul>
    </span>
    <span id="preview">
    </span>
  </div>
{% endblock %}