{% extends "layout.html" %}
{% block header %}
<link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='page.less') }}">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-1.7.js') }}"> </script>
<script type="text/javascript" language="javascript">
var item_list = {};
var node_list = {};
var slide_list = [];
var parent_id = null;
var child_id = null;
{% if item %}
  node_list[{{ item['id'] }}] = {
    id: {{ item['id'] }},
    children: [],
  };
  parent_id = {{ item['id'] }};

  item_list[{{ item['id'] }}] = eval({{ item|tojson|safe }});
{% endif %}

{% if children %}
  {% for child in children %}
    node_list[parent_id].children.push({{ child['id'] }});
    item_list[{{ child['id'] }}] = eval({{ child|tojson|safe }});
  {% endfor %}
{% endif %}

var test = 'test';

// variable for manipulating slides
var currentPosition = 0;
var slideWidth = 480;
var slides;
var numberOfSlides;
var lastSlide = 941;


/**
 * Adds multiple item objects to the 
 * How can I make it so that this function can take in any amount of parameters?
 * Also, make it so that the function gracefully handles both arrays of items and singular items
 * @todo write the function
 */
function addToItemList() {
}

/**
 * checks to see if node is in node_list 
 */
function inNodeList(node_id) {
  var ret = false;
  //for (var i = 0; i < node_list.length; i++) {
  for (var key in node_list) {
    if (node_id === node_list[key].id){
      ret = true;
      break;
    }
  }
  return ret;
}

/**
 * gets the ID from an node html element 
 */
function getIdOf(node) {
  var n_id = node.find('.node').attr('id');
  return parseInt(n_id.split('_')[1], 10);
}

/**
 * changes the votecount of the given item everywhere the item is stored
 */
function updateVC(item_id, uv_c, dv_c) {
  item_list[item_id].upvotes += uv_c;
  item_list[item_id].downvotes += dv_c;
  var new_vc = item_list[item_id].upvotes - item_list[item_id].downvotes;
  $('#n_' + item_id + ' .vc-num').text(new_vc);
  $('#c_' + item_id + ' .child-vc').text(new_vc);
}

/**
 * Handles voting functionality. Sends vote action to the server and refreshes page
 * @todo Change so that it doesn't refresh page and just updates the vote count on the current page
 */
function vote(vote_type, item_id) {
  var URL = "{{ url_for('vote') }}";
  $.post(URL,{item_id: item_id, user_id: {{ session.user_id }}, vote_type: vote_type}, 
  function (data)
  {
    //window.location.replace(" {{ url_for('item_page', item_id = session.current_item) }} ");
    //$("#cr").html(data).show().fadeout(8000);
    updateVC(item_id, data.uv_c, data.dv_c);
  });
  return false;
}

/**
 * Creates a node dom element from the given item id
 */
function createNodeElement(item_id) {
  var item = item_list[item_id];

  var title = $('<span />')
      .text(item.id + " | " + item.title);

  //returns the element for the up/down vote icon
  var vote_element = function (type) {
    var icon = (type === 'up')?'+':'-';
    var ele = $('<a />')
        .addClass('nv-' + type)
        .attr('href', '#')
        .attr('onclick', "vote('" + type + "', " + item.id + ")")
        //.click(vote(type, item.id))
        .text(icon);
    return ele;
  }

  var vc_num = $('<span />')
    .addClass('vc-num')
    .text(item.upvotes - item.downvotes);

  var votecount = $('<span />')
    .addClass('node-vc')
    .append(vote_element('up'), vote_element('down'), vc_num);


  var node_title = $('<span />')
      .addClass('node-title')
      //.append(vote_element('up'), votecount, title, vote_element('down'));
      .append(votecount, item.title);

  var body = $('<span />')
      .addClass('node-body')
      .text(item.body);

  var post_button = $('<button />')
      .addClass('btn post-button')
      .text('Reply');

  var node_element = $('<span />')
      .addClass('node')
      .attr('id', 'n_' + item.id)
      .append(node_title, body, post_button);

  // node_element.getID = function() {
  //   getID();
  // };

  return node_element;
}

/**
 * Creates a child dom element from the given item id
 */
function createChildElement(item_id, type) {
  var item = item_list[item_id];

  var title = $('<span />')
      .addClass('child-title')
      .text(item.title);

  var title_link = $('<a />')
      .addClass('child-link')
      .attr('name', 'cl_' + item_id)
      .attr('href', '#')
      .attr('onclick', "return false;")
      //.click(displayChild(item.id, 'child'))
      //.click(function(){displayChild(item.id, this)})
      .append(title);

  var body = $('<span />')
      .addClass('child-body')
      .text(item.body);

  var votecount = $('<span />')
      .addClass('child-vc')
      .text(item.upvotes - item.downvotes);

  var title_body = $('<span />')
      //.css({"display": "block", "float": "left"})
      .addClass('child-content')
      .append(title_link, body);

  var child_element = $('<li />')
      .addClass('child')
      .attr('id', 'c_' + item.id)
      //.text(item.upvotes - item.downvotes)
      .append(votecount, title_body);

  return child_element;
}

/**
 * Renders either the child slide or the parent slide.
 * Fetches an item and it's children from the server if the item isn't in the node_list
 */
function renderSlide(type) { 
  var slide = $('#' + type + '-node');
  var slide_id = (type === 'parent')?parent_id:child_id;

  //if node information isn't store locally, get the info from server
  if (!(inNodeList(slide_id))) {
    slide.html('Loading...');
    var URL = "{{ url_for('displayChild') }}";
    $.post(URL, {item_id: slide_id}, 
    function (data)
    {
      var item = data.child;
      var children = data.c_children;
      
      //adds the new item to the item list, 
      //creates a node object for the new item and stores it in the node list
      item_list[item.id] = item;
      node_list[item.id] = {
        id: item.id,
        children: new Array(),
      };

      //adds the children each to the item list, 
      //updates the new item's node object with the list of it's children
      for (var i = 0; i < children.length; i++) {
        item_list[children[i].id] = children[i];
        node_list[item.id].children.push(children[i].id);
      };

      //rerender the slide to overwrite 'Loading...'
      renderSlide(type);
    });

    return;    
  }

  var node = node_list[slide_id];

  var children_list = $('<ul />');
  for (var i = 0; i < node.children.length; i++) {
    children_list.append(createChildElement(node.children[i], type));
  };

  var children = $('<span />')
      .addClass('children')
      .append($('<h2 />').text('Children'), children_list);

  slide
    .empty()
    .append(createNodeElement(node.id), children);
}

/*
 * Create the initial parent and child node-slides
 */
function createInitalSlides() {
  var slide = function (id_string) {
    var ele = $('<span />')
        .addClass('span8 node-slide')
        .attr('id', id_string);
    return ele;
  };
  var initial_slides = [slide('parent-node'), slide('child-node')];
  slide_list = slide_list.concat(initial_slides);
  $('#slides-container').append(initial_slides[0], initial_slides[1]);
  return $('.node-slide');
}

/**
 * Changes the parent node and child node to the nodes at the current position
 */
function updateNodes() {
  $('#parent-node').removeAttr('id');
  $('#child-node').removeAttr('id');
  slide_list[currentPosition].attr('id', 'parent-node');
  slide_list[currentPosition + 1].attr('id', 'child-node');
}

/*
 * Highlights the child list element of the current child
 */
function highlightChild() {
  if (!child_id) return;
  $('.child-highlight').removeClass('child-highlight');
  $("#c_" + child_id).addClass("child-highlight");
}

/**
 * shifts slides and sets the currentPosition
 */
function shiftSlides(shift_num) {
  //create an empty slide element if we have to add elements to the slide_list
  //checks if the list of slides is smaller than the min number of slides needed for the shift
  //currentPos is always at maximum 2 smaller than the length of the slide_list
  if (slide_list.length < currentPosition + 2 + shift_num) {
    var ele = $('<span />').addClass('span8 node-slide')
  }
  for (var i = 0; i < (currentPosition + 2 + shift_num) - slide_list.length; i++) {
    slide_list.push(ele);
    $('#slideInner').append(ele);
  }

  if (shift_num < 0) {
    //checks whether the number we're shifting goes further than the start of the list of slides
    if (currentPosition + shift_num < 0) return false;

    for (var i = 0; i > shift_num; i--) {
      $('#child-node').remove();
      slide_list.pop();
    }
  }

  currentPosition += shift_num;
  numberOfSlides += shift_num;
  updateNodes();
  $('#slideInner').animate({'marginLeft' : -20 + slideWidth*(-currentPosition)});
  return true;
}

/**
 * Display the selected child and updates the child and parent ids
 */
function displayChild(item_id, from) {
  if (from === 'parent') {
    child_id = item_id;
    renderSlide('child');
  }
  else {
    shiftSlides(1);
    parent_id = child_id;
    child_id = item_id;
    //renderSlide('parent');
    $('#parent-node').html(slide_list[currentPosition].html());
    renderSlide('child');
  }
  highlightChild();
  return false;
}

</script>
<script type="text/javascript" language="javascript">
//DOCUMENT READY ==============================================================
$(document).ready(function() {
  //toggle
  $(".add-entry").hide();
  $("#toggleButton").click(function() {
    $(".add-entry").slideToggle(500);
  });

  slides = createInitalSlides();
  numberOfSlides = slides.length;

  var child_node = $('#child_node');
  var parent_node = $('#parent_node');

  // Remove scrollbar in JS
  $('.slides-container').css('overflow', 'hidden');

  // Wrap all .slides with #slideInner div
  slides
    .wrapAll('<div class="row" id="slideInner"></div>')
    // Float left to display horizontally, readjust .slides width
    //.css({'float' : 'left', 'width' : slideWidth});

  // Set #slideInner width equal to total width of all slides
  //$('#slideInner').css('width', slideWidth * numberOfSlides);

  renderSlide('parent');
  var disp_id;

  //display the clicked child node
  $('#parent_node').on("click", '.child-link', function() {
    disp_id = parseInt($(this).attr('name').split('_')[1], 10);
    if (disp_id === child_id) return;
    displayChild(disp_id, 'parent');
    alert('test');
    //$('.child-highlight').removeClass('child-highlight');
    //$(this).parent().parent().addClass("child-highlight");
  });

  child_node.on("click", '.child-link', function() {
    disp_id = parseInt($(this).attr('name').split('_')[1], 10);
    if (disp_id === child_id) return;
    displayChild(disp_id, 'child');
  });

  child_node.on('click', '.post-button', function() {
    if (child_node.find('.post-div').length === 0) {
      fillPostDiv('child');
    }
    child_node.find('.post-div').slideToggle('fast');
  });

  parent_node.on('click', '.post-button', function() {
    if (parent_node.find('.post-div').length === 0) {
      fillPostDiv('parent');
    }
    parent_node.find('.post-div').slideToggle('fast');
  });

  //shift back one level
  $('#back').on("click", function(){
    if (!shiftSlides(-1)) return;
    parent_id = getIdOf(slide_list[currentPosition]);
    child_id = getIdOf(slide_list[currentPosition + 1]);
    highlightChild();
  });
});
</script>
{% endblock %}
{% block body %}
  <div class="container">
    <div id="back"><a href="#" onclick="return false;">Back</a></div>
    <br />
    <div id="slides-container">
    </div>
  </div>
    <input id="toggleButton" type=button value="Add Item"><br />
    <div class="add-entry">
      <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
        <dl>
          <dt>Title:
          <dd><input type="text" size=30 name=title>
          <dt>Body:
          <dd><textarea name="body" rows=5 cols=40></textarea>
          <input type="hidden" name="parent" value={{ item['id'] }} >
          <input type="hidden" name="user_id" 
          {% if not session.logged_in %}
            value=0>
          {% else %}
            value="{{ session.user_id }}">
          {% endif %}
          <dd><input type="submit" value="Add Item">
        </dl>
      </form>
    </div>

{% endblock %}
