{% extends "layout.html" %}
{% block header %}
  <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='less/search.less') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.js') }}"> </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"> </script>

  <script type="text/javascript" language="javascript">
  var global_results = [];
  var cur_page;

  function setSize (x, y) {
    $('object').attr('width',"" + x);
    $('object').attr('height',"" + y);

    $('object embed').attr('width',"" + x);
    $('object embed').attr('height',"" + y);
  }

  //create result html string
  function createResultHtml(index) {
    result = global_results[index];
    //http://static-cdn.jtvnw.net/previews/live_user_ignproleague-150x113.jpg
    var r_string = '<div id="result'+ index +'" class="res-list"><div class="row"><span class="span3"><a class="res_link" href="'+ result.url +'"><img width=150 src="'+ result.pic +'" /></a></span><span class="res_text span11"><a class="res_link" href="'+ result.url +'">'+ result.title +'</a><span class="res_user">'+ result.username +'</span> -- <span class="viewers"><span class="view_count">'+ result.viewers +'</span> watching</span><br /><span class="description">'+ result.description +'</span></span><span class="preview span2"><a name="'+ index +'" href=# onClick="return false;" class="preview-btn"><img src="' + "{{ url_for('static', filename='graphics/preview.png') }}" + '"/></a></span></div></div>';

    return r_string;    
  }

  function createPreResultHtml(index) {
    result = global_results[index];

    var r_string = '<div class="pre-list" name="'+ index +'" id="result'+ index +'"><span class="span4"><a class="res-img-pre" href="#" onclick="return false"><img width=200 src="'+ result.pic +'" /></a><a class="res-link-pre" href="'+ result.url +'">'+ result.title +'</a><span class="res_user">'+ result.username +'</span> -- <span class="viewers"><span class="view_count">'+ result.viewers +'</span> watching</span></span></div>';

    return r_string;
    
  }

  function createPreEmbed(index) {
    result = global_results[index];

    var res_text = $('<span />')
        .addClass('preview-res-text')
        .append('<a class="res_link" href="'+ result.url +'">'+ result.title +'</a><span class="res_user">'+ result.username +'</span> -- <span class="viewers"><span class="view_count">'+ result.viewers +'</span> watching</span>')

    var watch_btn = $('<a />')
        .addClass('watch-btn')
        .attr('href', result.url)
        .append('<img src="{{ url_for('static', filename='graphics/watchlive.png') }}" />');

    var ele = $('<div />')
        .addClass('embed-pre')
        .append(result.embed);

    return $('<span />')
        .addClass('pre-div')
        .append(res_text, watch_btn, '<br /><br /><br />', ele);
  }

  function updatePagination(page, rpp, pre) {
    cur_page = page;
    var res_len = global_results.length;
    var last_page = Math.ceil(res_len/rpp);

    var createPagLink = function(i) {
      return $('<a />')
                .addClass('pag-link')
                .attr('href', '#')
                .attr('onclick', 'return false;')
                .click(function() {
                  displayResults(pre, i);
                })
                .append(i);
    };

    var pag = $('#pagination');
    pag.empty();

    if (page != 1) {
      pag.append($('<a />')
                .addClass('pag-link')
                .attr('href', '#')
                .attr('onclick', 'return false;')
                .click(function() {
                  displayResults(pre, page-1);
                })
                .append('<img class="flip-horizontal" src="{{ url_for('static', filename='graphics/arr.png') }}" />'));
    }

    for (var i = 1; i < last_page + 1 && i < 5; i++) {
      if (i === page) {
        pag.append('<span id="cur-page" class="pag-link">' + i + '</span>');
      }
      else {
        pag.append(createPagLink(i));
      }
    }

    if (page > 4) {
      pag.append('<span class="pag-link">...</span><span id="cur-page" class="pag-link">' + page + '</span>');
    }

    if (last_page > 4 && last_page != page) {
      pag.append('<span class="pag-link">...</span>', createPagLink(last_page));
    }

    if (page != last_page) {
      pag.append($('<a />')
                .addClass('pag-link')
                .attr('href', '#')
                .attr('onclick', 'return false;')
                .click(function() {
                  displayResults(pre, page+1);
                })
                .append('<img src="{{ url_for('static', filename='graphics/arr.png') }}" />'));
    }

    var end = page * rpp, 
        begin = ((page - 1) * 10) + 1;

    if (end > res_len) {
      end = res_len
    }
    pag.append("Showing results " + begin + " to " + end + " of " + res_len);

    if (pre) {
      pag.append($('<a />')
                  .css('float', 'right')
                  .attr('href', '#')
                  .attr('onclick', 'return false;')
                  .click(function() {
                    $('#preview').empty().removeClass();
                    $('#results').removeClass('span4').addClass('span16');
                    displayResults(false, cur_page);
                  })
                  .append('Close preview'));
    }
    $('#pagination2').html(pag.clone(true))
    $('html, body').animate({ scrollTop: 0 }, 0);
  }

  //display the results
  function displayResults(pre, page) {
    var rpp = 10;
    if (arguments.length < 2) {
      page = 1;
    }

    updatePagination(page, rpp, pre);
    var res_len = global_results.length;

    var display = $('#results');
    display.empty();

    var begin = (page - 1) * rpp;
    for (var i = begin; i < res_len && i < begin + rpp; i++) {
      if (pre) display.append(createPreResultHtml(i));
      else display.append(createResultHtml(i));
    }
  }

  //handles what to do when an async search function has finished 
  function isDone(func, results) {
    if ("searchJT" == func) {
      if (results) jt_results = formatResults(results, 'justin');
      api_calls.jt = true;
    }
    else if ("searchUS" == func) {
      if (results) us_results = formatResults(results, 'ustream');
      api_calls.us = true
    }
    
    var done = true;
    for (key in api_calls) {
      if (!(api_calls[key])) {
        done = false;
      }
    }

    if (done) {
      var disp_results = combine([start_results, jt_results, us_results])
      // for (var i = 0; i < new_results.length; i++) {
      //   $('body').append("results -- " + new_results[i].title + "<br />");
      // }
      disp_results.sort(viewersDesc);
      global_results = disp_results;
      displayResults(false);
    }
  }

  {% if squery %}
    {% if results %}
      var solr_results = eval({{ results|tojson|safe }});
    {% else %}
      var solr_results = new Array() 
    {% endif %}

    var search_query = "{{ squery }}"

      initSearch(isDone, solr_results);
      searchJT(search_query);
      searchUS(search_query);

  {% endif %}
  var lol = 8;

  </script>

  <script type="text/javascript" language="javascript">
  //DOCUMENT READY ==============================================================
  var sizes = 0;
  $(document).ready(function() {
    /*
      var new_results = solr_results;
      new_results.sort(viewersDesc);
      displayResults(new_results);
    */
    $("#search_button").click(function() {
      //window.location.replace("/search?s=" + $("#search_input").val());
    });
    $(document).on("click", '.preview-btn', function() {
      var p_id = $(this).attr('name');
      $("#results").removeClass('span16').addClass('span4');
      displayResults(true, cur_page);
      var p_embed = createPreEmbed(p_id);

      $("#preview").removeClass().addClass('span12').html(p_embed);
      setSize(540, 360);
      $('#result' + p_id).addClass('selected');
    });

    $(document).on("click", '.pre-list', function() {
      var p_id = $(this).attr('name');
      var p_embed = createPreEmbed(p_id);

      $('.selected').removeClass('selected');
      $("#preview").empty().append(p_embed);
      setSize(540, 360);
      $('#result' + p_id).addClass('selected');
    });
  });
  </script>
{% endblock %}

{% block body %}
  <!-- <form>
    <input type="text" class="xlarge" id="search_input" name="s">
    <input type="submit" id="search_button" value="Search">
  </form> -->

  <br>
  <div id="pagination"></div>
  <div class="row">
    <span id="results" class="span16">
      <!-- <ul class="unstyled">
      </ul> -->
    </span>
    <span id="preview">
    </span>
  </div>
  <div id="pagination2"></div>
{% endblock %}